*{
    margin: 0;
    padding: 0;
}

                                      /* All  Fonts */

.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.manrope{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

                                            /* Body & Wrapper */

body{
    width: 100vw;
    background: rgba(170, 170, 170);
}
.wrapper{
    width: 1440px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
}

           /* Shared Styles */

.display-flex{
    display: flex;
}
.btn{
display: flex;
align-items: center;
color: rgba(255, 255, 255, 1);
font-family: Poppins;
font-size: 1rem;
font-weight: 700;
padding: 10px 24px;
background-color:rgba(224, 44, 109, 1) ;
border: 0;
}             

                                           /* header Styles */

.nav-bar{
    align-items: center;
    justify-content: space-between;
    margin: 0 120px 50px;
    padding-top: 90px;
}
.chckbox, .hamburger-icon{
    display: none;
}
.brand{
    color: rgba(58, 58, 58, 1);
    font-family:poppins;
    font-size: 1.5rem;
    font-weight: 700;
}   
.nav-links{
    width:463px ;
    justify-content: space-between;
    align-items: center;
}
.nav-links li{
    color: rgb(58, 58, 58);
    font-family: poppins;
    font-size: 1rem;
    font-weight: 600;
}
.banner{
    margin-left: 120px;
    align-items: center;
    gap: 133px;
    margin-bottom: 69px;
}

.banner-title{
width: 582px;
color: rgba(58, 58, 58, 1);
font-family: Poppins;
font-size: 3.25rem;
font-weight: 700;
margin-bottom: 16px;
}
.banner-desc{
width: 480px;
color: rgba(58, 58, 58, 1);
font-family: Poppins;
font-size: 1rem;
font-weight: 600;
margin-bottom: 16px;
}
.banner-btn{
    border-radius: 41px;
}
.banner-img{
    width: 475px;
    height: 475px;
    background: url('../assets/images/Circle-design.svg');
    align-items: center;
}
.banner-img img{
    width:440px ;
    height:414px ;
}

                                         /* main Styles */

.partners{
    width: 1110px;
    height:110px ;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto 100px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-image: linear-gradient(135.29deg, rgba(192, 204, 218, 0.1),rgba(192, 204, 218, 0.6) 50%,rgba(192, 204, 218, 0.1) 100%) 1;
}  

                                        /* Popular Collection Section */
                             
.popular-collection{
    width: 1047px;
    margin: 0 auto 100px;
}
.popular-collection-title{
color: rgba(58, 58, 58, 1);
font-family: Poppins;
font-size: 1.75rem;
font-weight: 600;
text-align: center;
margin-bottom: 30px;
}
.product-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}
.product-card{
 padding: 17px 14px;
 border-radius: 5px;
 box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}
.product-card img{
    width: 300px;
    height: 256px;
}
.p-name{
color: rgb(24, 25, 31);
font-family: Poppins;
font-size: 1.75rem;
font-weight: 500;
margin-bottom: 6px;
}
.p-price{
color: rgba(0, 0, 0, 0.87);
font-family: Inter;
font-size: 1.5rem;
font-weight: 400;
margin-bottom: 8px;
}
.p-rating{
    margin-bottom: 6px;
}
.golden{
    color:rgba(251, 130, 0);
}
.gray{
color: rgba(94, 99, 102, 1);
font-family: Roboto;
font-size: .875rem;
font-weight: 700;
}
.p-desc{
width: 196px;
color: rgb(120, 120, 133);
font-family: Inter;
font-size: 0.875rem;
font-weight: 700;
}
.see-more{
    color: rgb(228, 71, 128);
    font-family: Poppins;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-end;
}
.pink-arrow{
    filter: invert(48%) sepia(37%) saturate(4665%) hue-rotate(311deg) brightness(91%) contrast(95%);
}

                                 /* featured products in one place */

.featured{
    width:1110px;
    margin: 0 auto 100px;
    gap: 96px;
    align-items: center;
}

.featured-title{
color: rgb(10, 8, 38);
font-family: Poppins;
font-size: 2.375rem;
font-weight: 700;
margin-bottom: 16px;
}
.featured-desc{
width: 500px;
color: rgb(108, 108, 108);
font-family: Poppins;
font-size: 1rem;
font-weight: 700;
margin-bottom: 16px;
}

                                  /* footer's Style  */

footer{
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 239px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(10, 8, 38, 1);
    gap: 6px;
}
.f-title{
color: rgba(255, 255, 255, 1);
font-family: Poppins;
font-size: 1.5rem;
font-weight: 700;
}
.f-desc1{
color: rgba(217, 219, 225, 1);
font-family: Manrope;
font-size: .875rem;
font-weight: 700;
}
.f-desc2{
color: rgba(217, 219, 225, 1);
font-family: Manrope;
font-size: .875rem;
font-weight: 700;
margin-bottom: 10px;
}
.socials{
    align-items: center;
    gap: 16px;
}





.hide{
    display: none;
}




@media screen and (max-width:576px){
    .wrapper{
        width: 100%;
    }
    .nav-bar{
        width: 95%;
        margin: 0 auto 25px;
        padding-top: 20px;
    }
    .nav-links{
        display: none;
    }
    #search, #cart{
        display: none;
    }
    .hamburger-icon{
        display: block;
    }
    .hamburger-icon::before{
        content: "menu";
        font-family: material icons;
        font-size: 3rem;
        font-weight: 600;
    }
    .nav-links{
        width: 80%;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
        position: absolute;
        top: 0;
        right: 0;
        background:rgba(255, 255, 255, 0.164);
        backdrop-filter: blur(8px);
        padding-top: 120px;
        display: none;
    }
    .nav-links li{
        color: black;
        font-family: roboto;
        font-size: 2rem;
        font-weight: 900;
    }
    #hamburger:checked ~ .nav-links{
        display: flex;
    }
    #hamburger:checked ~ .hamburger-icon::before{
        content: "close";
        font-family: material icons;
        font-size: 3rem;
        font-weight: 600;
        position: absolute;
        top: 25px;
        right: 60%;
        z-index: 1;
    }
    .banner{
        flex-direction: column-reverse;
        width: 90%;
        gap:60px ;
        margin: 0 auto;
    }
    .banner-title, .banner-desc{
        width: 100%;
        height: auto;
    }
    .banner-img{
        width: 257px;
        height: 257px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .banner-img img{
        width: 238px;
        height: 224px;
    }
}